*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    border:none;
    outline:none;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
    background:#000;
}

/* 
        NAVBAR
*/

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:72px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 70px;
    background:rgba(20,25,45,0.75);
    backdrop-filter:blur(12px);
    border-bottom:1px solid rgba(255,255,255,0.08);
    z-index:1000;
}

/* 
          LOGO
 */

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-img{
    width:40px;
    transition:0.3s;
}

.logo:hover .logo-img{
    transform:translateY(-4px) rotate(-8deg);
}

.logo-text{
    display:flex;
    align-items:center;
}

.main-text{
    font-size:30px;
    font-weight:700;
    font-family:monospace;
    color:white;
}

.trail{
    color:#d8d8ff;
    font-size:22px;
    font-family:monospace;
    margin-left:-8px;
}

/* 
      NAVIGATION
 */

.navigations ul{
    display:flex;
    align-items:center;
    gap:42px;
}

.navigations ul a{
    position:relative;
    display:flex;
    align-items:center;
    gap:4px;
    color:white;
    font-size:17px;
    font-weight:600;
    transition:0.3s;
}

.navigations ul a:hover{
    color:#FFDE59;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 4px;
    padding-top: 4px;
    background-color: rgba(199, 199, 201,0.3);
}

.navigations ul a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-7px;
    width:0;
    height:2px;
    background:#FFDE59;
    transition:0.3s;
}

.dropdown-icon{
    width:14px;
    opacity:0.7;
}

/* 
      DARK MODE ICON
*/

.mode button{
    background:none;
}

.material-symbols-outlined{
    color:white;
    cursor:pointer;
    font-size:28px;
    transition:0.3s;
}

.material-symbols-outlined:hover{
    color:#FFDE59;
    transform:rotate(25deg);
}

/*
       HERO SECTION
 */

.hero{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.hero video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.12);
    z-index:1;
}

/* 
      HERO CONTENT
*/

.hero-content{
    position:absolute;
    top:52%;
    left:50%;
    transform:translate(-50%,-50%);
    width:min(90%,800px);
    text-align:center;
    z-index:2;
}

.title{
    color:black;
    font-size:1.25rem;
    font-weight:900;
    letter-spacing:3px;
    margin-bottom:-10px;
    animation:float 3s ease-in-out infinite;
}

.hero-content h1{
    font-family:'Pixelify Sans';
    font-size:9rem;
    line-height:1;
    background:linear-gradient(
        120deg,
        #8B5E00 35%,
        #ffffff 50%,
        #ffffff 55%,
        #8B5E00 65%
    );
    background-size:250% auto;
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    text-shadow:
    7px 7px 0px #FFDE59,
    6px 6px 0px rgba(0,0,0,0.25);
    animation:
    shine 8s linear infinite,
    float 3s ease-in-out infinite;
}

.comment{
    margin-top:28px;
    color:white;
    font-size:1.5rem;
    font-weight:500;
}

.hero-content button{
    margin-top:38px;
    padding:12px 40px;
    border-radius:12px;
    background:#f5c24a;
    color:#734300;
    font-size:22px;
    font-family:'Pixelify Sans';
    border-bottom:2px solid #b79137;
    cursor:pointer;
    box-shadow:
    0 8px 0 #b79137,
    0 12px 30px rgba(0,0,0,0.25);
}

.hero-content button:hover{
    background: #f4d384;
}

/* 
        ANIMATIONS
*/

@keyframes shine{0%{
        background-position:-250%;
    }

    100%{
        background-position:250%;
    }
}

@keyframes float{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-12px);
    }
}

/*
       RESPONSIVE
*/

@media(max-width:900px){

    .navbar{
        padding:0 25px;
    }

    .navigations ul{
        gap:20px;
    }

    .hero-content h1{
        font-size:6rem;
    }

    .comment{
        font-size:1.2rem;
    }
}






/* ABOUT PAGE  */
